.notification {
    position: absolute;
    top: 100%;
    right: 0;
    display: inline-block;
    width: 250px;
    height: 80px;
    padding: 30px;
    background-color: rgba(242, 134, 62, 1.0);
    color: #fff;
    font-weight: bold;
    border: 1px solid #333;
    border-top: none;
    transition: all .3s linear;
    visibility: visible;

    &-not-visible {
        visibility: hidden;
    }
}
