.orders-main-container {

    .well {
        background-color: transparent;
        border-color: #f2863e;
    }

    a {
        color: #fff;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        background-color: #f2863e;
    }

    button.create {
        margin-bottom: 20px;
        width: 200px;
    }

    .table-panel {
        background-color: transparent !important;

        .order-row {
            transition: all .3s linear;
            cursor: pointer;

            &:hover {
                background-color: rgba(255,255,255, 0.1);
            }


            a {
                color: #fff;
                font-size: 13px;
                cursor: pointer;
                transition: all .1s linear;

                &:hover {
                    color: #f2863e;
                    text-decoration: none;
                    transform: scale(1.02);
                }
            }
        }
    }
}

.modal-order {

    .field-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0 !important;

        .form-control, button {
            width: 300px;
        }

        .error-input {
            border: 1px solid #ff9e8d;
            background-color: #e2c6bf;
        }

        .small-select {
            display: inline-block;
            width: 70px;
            margin-left: 10px;
        }
    }
}
