.profile-container {
    padding: 20px 30px;

    h3 {
        margin: 0;
    }

    .profile-title {
        margin-bottom: 20px !important;
    }
}

.transport-panel {
    background-color: transparent !important;

    .button {
        height: 16px;
        width: 16px;
        background-image: url('pen.png');
    }
}

.areas-panel, li {
    background-color: transparent !important;
    
    .button {
        height: 16px;
        width: 16px;
        background-image: url('pen.png');
    }
}
