.user-container {
    height: 60px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, .5);
    color: #000;
    font-weight: bold;
    margin: 5px 0;
    transition: all .3s linear;
    line-height: 20px;

    &:hover {
        border: 1px solid #f2863e;
        transform: scale(1.03);
    }
}

.detail-messages-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    min-height: 270px;
    overflow-y: hidden;

    .messages-container {
        flex: 1 0 70px;
       // height: 400px;
        overflow-y: auto;
        background-color: rgba(255, 255, 255, .7);
        margin-top: -20px;
        margin-bottom: 10px;
        color: #000;
        padding: 10px 0;


        .message-container {
            margin: -1px 20px !important;
            border-bottom: 1px solid rgba(0, 0, 0, .3);
            padding: 15px;

            .message-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 5px !important;

                a {
                    color: #333;
                    font-size: 13px;
                    margin-right: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    transition: all .1s linear;

                    &:hover {
                        color: #f2863e;
                        text-decoration: none;
                        transform: scale(1.02);
                    }
                }

                .date-message {
                    font-size: 10px;
                    color: rgba(0, 0, 0, .5);
                }
            }

            .message {
            }
        }
    }


    .input-container {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            height: 34px;
        }
    }
}

