.header {
  height: 50px;
  background-color: #333;
}

.link {
  display: inline-block;
  color: #fff;
  width: 75px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  text-decoration: none;
}

.link:link { color: #fff; text-decoration: none; }
.link:active { color: #fff; text-decoration: none; }
.link:visited { color: #fff; text-decoration: none; }

.link:hover {
  background-color: gray;
  text-decoration: none;
}

.link-active {
  background-color: dimgray;
  text-decoration: none;
}
