.header {
    height: 60px;
    background-color: #333;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .profile-links-container {
        display: inline-block;
       // margin: 0 auto;
    }
}
.link {
    display: inline-block;
    color: #fff;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s linear;
}

.link:link {
    text-decoration: none;
}
.link:active {
    color: #f2863e;
    text-decoration: none;
}
.link:focus {
    color: #f2863e;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    color: #f2863e;
}

.link-active {
    text-decoration: none;
    color: #f2863e;
}

.link-profile {
    float: right;
    width: 220px;
    margin: 0 40px 0 100px;
    background: #333 url('./profile_30.png') no-repeat 100% 40%;
}

.link-active-profile,
.link-profile:hover {
    color: #f2863e;
    text-decoration: none;
    background: #333 url('./profile_hover_30.png') no-repeat 100% 40%;
}
